fieldset.collapsed fieldset,
fieldset.collapsed p.rsce_list_description,
fieldset.collapsed p.rsce_group_description {
	display: none !important;
}
fieldset.rsce_group_no_legend {
	padding-top: 0;
	border-top: 0;
}
fieldset.rsce_group_no_legend:last-of-type {
	padding-bottom: 0
}
.rsce_list_item fieldset.rsce_list,
.rsce_list_item fieldset.rsce_group {
	margin: 0;
}
.rsce_list_item fieldset.rsce_group:last-of-type:not(.collapsed) {
	padding-bottom: 0;
}
fieldset.rsce_list {
	position: relative;
	padding-right: 10px;
}
.rsce_list_inner {
	margin-bottom: -12px;
}
p.rsce_list_description {
	margin: 5px 10px 10px;
}
p.rsce_group_description {
	margin: 5px 0;
}
.rsce_list_item {
	position: relative;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 20px;
	padding: 0 0 20px 15px;
	border: 1px solid #ccc;
	background-color: #fafafa;
	background-color: rgba(0, 0, 0, 0.02);
}
.rsce_list_item .tl_text_trbl {
	background-color: #fff;
}
.rsce_list_item_dummy {
	display: none;
}
.rsce_list_item .rsce_list_item {
	border-color: #e9e9e9;
	margin-bottom: 5px;
}
.rsce_list_item_title {
	margin: 0 0 0 -15px;
	padding: 5px 15px;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
}
.rsce_list_toolbar {
	float: right;
	margin: 4px;
	text-align: right;
}
.rsce_list_item > .rsce_list_toolbar {
	position: absolute;
	top: 0;
	right: 0;
}
.rsce_list_item .long .tl_text {
	width: 97%;
}
.rsce_list_item .w50 .tl_text {
	width: 94%;
}
.rsce_list_item .w50.wizard .tl_text {
	width: 86%;
}
.rsce_list_item .rsce_list_item .w50 .tl_select {
	width: 310px;
}
.rsce_list_item .tl_text_unit {
	width: 74%;
}
.rsce_list_item .tl_listwizard .tl_text {
	width: 86%;
}
.rsce_list_item .tl_modulewizard .tl_select {
	width: 380px;
}
.rsce_list_item .tl_textarea {
	width: 97%;
}
.rsce_small_textarea .tl_textarea {
	height: 50px;
}
.rsce_list_item .mce-tinymce {
	margin-right: 15px;
}
h2.sub_headline_rsce_convert {
	color: #414652;
	background-image: url("../img/logo.png");
}
